<template>
  <div class="container-fluid">
    <div class="row">
      <div v-if="user.authenticated" class="sidebar col-md-2 col-sm-3">
        <h1 class="text-center"><a href="/">Tasker</a></h1>
        <div class="list-group">
          <div class="list-group-item avatar">
            <img v-bind:src="g_url" width="128" height="128" />
          </div>
            <span>{{ nick }}</span>
        </div>
        <div class="list-group">
          <button class="btn btn-primary btn-block" @click="showProjectForm = true">
          <i class="fa fa-plus-square"></i> New Project
          </button>
          <button class="btn btn-primary btn-block">
          <i class="fa fa-plus-square"></i> New Task
          </button>
        </div>
        <div class="list-group">
          <a class="list-group-item" v-for="project of projects">
            <span class="badge">{{ project.badge }}</span> {{ project.name }}
          </a>
        </div>
        <div class="list-group">
          <button class="btn btn-danger btn-block" @click="confirmLogout">
          <i class="fa fa-times"></i> Logout
          </button>
        </div>
      </div>
      <div style="padding-top: 20px;"></div>
        <router-view></router-view>
        <modal title="Are you sure to quit?" :show.sync="showConfirmQuiting" effect="fade">
          <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-danger" @click='logout'>Yes</button>
            <button type="button" class="btn btn-default" @click='showConfirmQuiting = false'>No</button>
          </div>
        </modal>
        <project-form :projects.sync="projects" :show.sync="showProjectForm"></project-form>
    </div>
  </div>
</template>

<script>
  import auth from '../auth.js'
  import Project from '../project.js'
  import ProjectForm from './ProjectForm.vue'
  import {
    gravatar_url
  } from '../gravatar.js'

  import {
    modal
  } from 'vue-strap'

  export default {
    route: {
      canActivate: (transition) => {
        if (auth.user.authenticated !== true) {
          transition.redirect('/signin')
        } else {
          transition.next()
        }
      }
    },

    components: {
      modal,
      ProjectForm
    },

    data() {
      return {
        user: auth.user,
        showConfirmQuiting: false,
        showProjectForm: false,
        nick: null,
        g_url: null,
        projects: [],
      }
    },
    created: function () {
      let nick = localStorage.getItem('nick')
      let email = localStorage.getItem('email')
      this.nick = typeof(nick) != 'undefined' ? nick : email
      if (auth.checkAuth()) {
          this.init()
      }
    },
    methods: {
      confirmLogout: function () {
        this.showConfirmQuiting = true
      },
      logout: function () {
        this.showConfirmQuiting = false
        auth.logout()
        this.$route.router.go('/signin')
      },
      refreshProjects: function () {
        return this.projectResource.list(0).then((resp) => {
          this.projects = resp.data.data
        })
      },
      init: function () {
        this.projectResource = new Project(this);
        let email = localStorage.getItem('email')
        this.g_url = gravatar_url(email, 128)
        this.refreshProjects().then((data) => {
          // load tasks
        })
      }
    },
    events: {
      'projects-need-refresh': function () {
        this.refreshProjects()
      },
      'user-signed-in': function () {
        this.init()
      }
    }
  }
