<template>
    <modal :show.sync="show" effect="fade" width="400">
      <div slot="modal-header" class="modal-header">
        <h4 class="modal-title">
          Create <code>Project</code>
        </h4>
      </div>
      <div slot="modal-body" class="modal-body">
     <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="name" placeholder="Name" v-model="name">
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Parent</label>
          <div class="col-lg-10">
            <select class="form-control" id="select" v-model="parentId"> 
                <option value="0">Root</option>
                <option v-for="project of projects" value="{{ project.id }}">{{ project.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="checkbox" class="col-lg-2 control-label">Is Cycle?</label>
          <div class="col-lg-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="checkbox" v-model="cycle">
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="begin_at" class="col-lg-2 control-label">Begin at</label>
          <div class="col-lg-10">
            <datepicker :value.sync="beginAt" format="yyyy-MM-dd" type="text" class="form-control" id="begin_at" name="begin_at"></datepicker>
          </div>
        </div>
        <div class="form-group">
          <label for="end_at" class="col-lg-2 control-label">End at</label>
          <div class="col-lg-10">
            <datepicker :value.sync="endAt" format="yyyy-MM-dd" type="text" class="form-control" id="end_at" name="end_at"></datepicker>
          </div>
        </div>
        </form> 
      </div>
      <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-success" @click='save'>Save</button>
        <button type="button" class="btn btn-default" @click='show = false'>Close</button>
      </div>
    </modal>
</template>

<script>
  import {
    modal,
    datepicker
  } from 'vue-strap'
  import ProjectResource from '../project.js'
  export default {
    components: {
      modal,
      datepicker
    },
    props: [
        'show',
        'projects',
        'project'
    ],
    data: function () {
      let today = new Date()
      return {
        beginAt: today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate(),
        endAt: today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate(),
        name: null,
        parentId: 0,
        cycle: true
      }
    },
    ready: function() {
        this.projectResource = new ProjectResource(this)
    },
    methods: {
      save: function () {
        let project = {
            'name': this.name,
            'parent_id': this.parentId,
            'is_cycled': this.cycle,
            'begin_at': this.beginAt,
            'end_at': this.endAt,
        }
        this.projectResource.create(project).then((resp) => {
            this.show = false 
            this.$dispatch('projects-need-refresh')
        })
      }
    }
  }

</script>
