<template>
  <div class="col-md-12">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sign Up</h2>
        <div class="form-group" v-bind:class="{'has-error': error.email != null}">
            <label class="control-label" for="email" v-show="error.email != null">{{ error.email }}</label>
            <input type="email" id="email" class="form-control" placeholder="Email address" autofocus v-model='creds.email'>
        </div>
        <div class="form-group" v-bind:class="{'has-error': error.password != null}">
            <label class="control-label" for="password" v-show="error.password != null">{{ error.password }}</label>
            <input type="password" id="password" class="form-control" placeholder="Password" v-model='creds.password'>
        </div>
        <div class="form-group" v-bind:class="{'has-error': error.password_confirmation != null}">
            <label class="control-label" for="password_confirmation" v-show="error.password_confirmation != null">
                {{ error.password_confirmation }}
            </label>
            <input type="password" id="password_confirmation" class="form-control" placeholder="Confirm Password" @keyup.enter="signup" v-model='creds.password_confirmation'>
        </div>
        <button :disabled="loading" class="btn btn-lg btn-primary btn-block" type="button" @click="signup">
            <span v-show="loading"><i class='fa fa-spinner fa-spin'></i> Signing up</span>
            <span v-show="!loading">Sign up</span>
        </button>
        <p style="text-align: center;">Existing user? <a v-link="'signin'">Sign in.</a></p>
      </form>
  </div>
</template>

<script>
  import auth from '../auth.js'
  export default {
    route: {
      canActivate: (transition) => {
        if (auth.user.authenticated === true) {
          transition.redirect('/home')
        } else {
          transition.next()
        }
      }
    },
    data: function () {
      return {
        creds: {
          email: '',
          password: '',
          password_confirmation: '',
        },
        loading: false,
        error: {
          email: null,
          password: null,
          password_confirmation: null
        }
      }
    },
    methods: {
      resetErrors: function () {
        this.error = {
          email: null,
          password: null,
          password_confirmation: null
        }
      },
      signup: function () {
        this.resetErrors()
        this.loading = true
        auth.signup(this, this.creds, 'home')
      },
      cancelLoading: function () {
        this.loading = false
      }
    }
  }

</script>
