<template>
  <div class="col-md-12">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sign In</h2>
        <div class="form-group" v-bind:class="{'has-error': error.email != null}">
            <label class="control-label" for="email" v-show="error.email != null">{{ error.email }}</label>
            <input type="email" id="email" class="form-control" placeholder="Email address"  autofocus @keyup.enter="login" v-model='creds.email'>
        </div>
        <div class="form-group" v-bind:class="{'has-error': error.password != null}">
            <label class="control-label" for="password" v-show="error.password != null">{{ error.password }}</label>
            <input type="password" id="password" class="form-control" placeholder="Password" @keyup.enter="login" v-model='creds.password'>
        </div>
        <button :disabled="loading" class="btn btn-lg btn-primary btn-block" type="button" @click="login">
            <span v-show="loading"><i class='fa fa-spinner fa-spin'></i> Signing in</span>
            <span v-show="!loading">Sign in</span>
        </button>
        <p style="text-align: center;">New to here? <a v-link="'signup'">Create a account.</a></p>
      </form>
  </div>
</template>

<script>
  import auth from '../auth.js'
  export default {
    route: {
      canActivate: (transition) => {
        if (auth.user.authenticated === true) {
          transition.redirect('/home')
        } else {
          transition.next()
        }
      },
    },
    created: function () {
      this.creds.email = localStorage.getItem('email')
    },
    data: function () {
      return {
        creds: {
          email: '',
          password: '',
        },
        loading: false,
        error: {
          email: null,
          password: null
        }
      }
    },
    methods: {
      resetErrors: function () {
        this.error = {
          email: null,
          password: null
        }
      },
      login: function () {
        this.resetErrors()
        this.loading = true
        auth.signin(this, this.creds, 'home')
      },
      cancelLoading: function () {
        this.loading = false
      }
    }
  }

</script>
