<template>
  <div class="col-md-offset-2 col-md-10">
      <table class="table table-striped table-hover ">
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>
  import auth from '../auth.js'
  export default {
    route: {
      canActivate: (transition) => {
        if (auth.user.authenticated !== true) {
          transition.redirect('/signin')
        } else {
          transition.next()
        }
      }
    }
  }

</script>
