@import "./paper.css";

.affix, .affix-top {
    position: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  display: block;
  padding: 20px;
  overflow: auto;
  color: #fff;
  background-color: #252a3a;
  border-right: 1px solid #eee;
  text-align: center;
}
.sidebar > h1 > a {
    color: #fff;
}
.sidebar > .avatar {
    background-color: #252a3a;border: 0px;
}

.form-signin {
  top: 100px;
  max-width: 330px;
  padding: 15px;
  margin: 100px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
